:root {
    --software-back: #0ab3ff;
    --ai-solution: #2f40cc;
    --web-development: #421198;
    --data-analysis: #1fc178;
    --web-application: #ef5249;
    --api-development: #e269ff;

    --python-card: #ff0000;
    --django-card: #009fff;
    --numpy-card: #04ff00;
    --git-card: #ff9a00;
    --api-card: rgb(0 255 223);
    --extension-card: #0016ff;
    --html-card: rgb(255 0 187);
    --js-card: #ffe600;
    --bootstrap-card: #04ff7e;

    --text-color: white;
}

body {
    transform: scroll 0.5s;
}


.fixed-navbar {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: all 0.5s ease-in-out; /* Smooth transition effect */
}

.fixed-navbar.sticky {
    position: fixed;
    top: 0;
}

nav{
    transition: all 1s;
}

.navbar-blur{
    background-color: #7272729c !important; /* Semi-transparent background */
    backdrop-filter: blur(10px) !important; /* Blur effect */
    -webkit-backdrop-filter: blur(10px) !important; /* Safari support */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important; /* Optional shadow for better visibility */
}

.sidebtn{
    background-color: #7272729c !important; /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.image-background-shadow {
    box-shadow: 0 0 20px 0px #faae63, 0 0 10px 5px #f9a65f, 0 0 14px 5px white;
    border-radius: 50%;
}

.floating-item {
    margin: -25% !important;
    cursor: pointer;
}

.floating-item:last-child {
    cursor: default;
}


.floating-item {
    opacity: 0.1;
    transition: all 0.4s;
    filter: blur(3px);
}

.hero-image {
    transition: all 0.5s;
}

.image-background-shadow:hover .hero-image {
    box-shadow: 0 0 20px 0px #faae63, 0 0 10px 5px #f9a65f, 0 0 14px 5px white;
}

.image-background-shadow:hover .floating-item {
    opacity: 1;
    margin: 0% !important;
    filter: blur(0px);
}


.wpo-service-item .icon {
    transition: background 0.5s !important;
}

.wpo-service-item:hover .icon {
    background-color: rgba(0, 0, 0, 0) !important;
}


.grid {
    width: 150px;
}

.hover-effect .wpo-service-item {
    transition: background 1s !important;
}

.services-item .hover-effect:hover div {
    background-color: #333a42 !important;
}
/* .services-item .hover-effect:nth-child(1):hover div {
    background-image: linear-gradient(151deg, #003af7, var(--software-back));
}

.hover-effect:nth-child(2):hover div {
    background-image: linear-gradient(151deg, #616bff, var(--web-development));
}

.hover-effect:nth-child(3):hover div {
    background-image: linear-gradient(151deg, #ee0093, var(--api-development));
}

.hover-effect:nth-child(4):hover div {
    background-image: linear-gradient(151deg, #8c2bb9, var(--web-application));
}

.hover-effect:nth-child(5):hover div {
    background-image: linear-gradient(151deg, #4dd5fd, var(--data-analysis));
}

.hover-effect:nth-child(6):hover div {
    background-image: linear-gradient(151deg, #4dd5fd, var(--ai-solution));
} */

.wpo-service-item .icon:hover {
    background-color: rgb(46, 46, 46) !important;
}

.wpo-service-item button {
    display: none !important;
}

.wpo-about-funfact div div {
    transition: all 0.5s;
    cursor: default;
}

.wpo-about-funfact div div p {
    transition: color 0.5s;
    color: var(--text-color) !important;
}


.wpo-about-funfact div:nth-child(1):hover>div {
    /* background-color: var(--python-card) !important; */
    background: linear-gradient(180deg, var(--python-card), rgba(31, 30, 28, .6) 30.59%) !important;

}

.wpo-about-funfact div:nth-child(1):hover>div p {
    color: var(--python-card) !important;
}


.wpo-about-funfact div:nth-child(2):hover>div {
    background: linear-gradient(180deg, var(--django-card), rgba(31, 30, 28, .6) 30.59%) !important;
}

.wpo-about-funfact div:nth-child(2):hover>div p {
    color: var(--django-card) !important;
}


.wpo-about-funfact div:nth-child(3):hover>div {
    background: linear-gradient(180deg, var(--numpy-card), rgba(31, 30, 28, .6) 30.59%) !important;
}

.wpo-about-funfact div:nth-child(3):hover>div p {
    color: var(--numpy-card) !important;
}


.wpo-about-funfact div:nth-child(4):hover>div {
    background: linear-gradient(180deg, var(--git-card), rgba(31, 30, 28, .6) 30.59%) !important;
}

.wpo-about-funfact div:nth-child(4):hover>div p {
    color: var(--git-card) !important;
}


.wpo-about-funfact div:nth-child(5):hover>div {
    background: linear-gradient(180deg, var(--api-card), rgba(31, 30, 28, .6) 30.59%) !important;
}

.wpo-about-funfact div:nth-child(5):hover>div p {
    color: var(--api-card) !important;
}


.wpo-about-funfact div:nth-child(6):hover>div {
    background: linear-gradient(180deg, var(--extension-card), rgba(31, 30, 28, .6) 30.59%) !important;
}

.wpo-about-funfact div:nth-child(6):hover>div p {
    color: var(--extension-card) !important;
}


.wpo-about-funfact div:nth-child(7):hover>div {
    background: linear-gradient(180deg, var(--html-card), rgba(31, 30, 28, .6) 30.59%) !important;

}

.wpo-about-funfact div:nth-child(7):hover>div p {
    color: var(--html-card) !important;
}


.wpo-about-funfact div:nth-child(8):hover>div {
    background: linear-gradient(180deg, var(--js-card), rgba(31, 30, 28, .6) 30.59%) !important;

}

.wpo-about-funfact div:nth-child(8):hover>div p {
    color: var(--js-card) !important;
}


.wpo-about-funfact div:nth-child(9):hover>div {
    background: linear-gradient(180deg, var(--bootstrap-card), rgba(31, 30, 28, .6) 30.59%) !important;

}

.wpo-about-funfact div:nth-child(9):hover>div p {
    color: var(--bootstrap-card) !important;
}




/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 400 */

.webtitle-name span {
    font-family: 'Matrix Zone';
    font-weight: normal;
    font-style: normal;
}



.projects-list div {
    margin-top:5px;
}
.projects-list div div{
    transition: background 0.5s;
}
.projects-list div div:hover {
    background-color: #292e35 !important;
}

@media (min-width: 768px) {

    .mini-scrollbar::-webkit-scrollbar {
        height: 20px;
    }
}

#news-blogs div img {
    transition: transform 0.7s;
}

#news-blogs div p,#news-blogs div span {
    color: rgb(138, 138, 138) !important;
}
#news-blogs div p,#news-blogs div span {
    transition: color 0.7s;
}

#news-blogs div .card {
    border: none;
    border-radius: 3px;
}

#news-blogs div {
    overflow: hidden;
    transition: background 0.5s;
}



#news-blogs div:hover {
    background-color:#2d343b;
}
#news-blogs div:hover img {
    transform: scale(1.4);
}

#news-blogs div:hover p,#news-blogs div:hover span {
    color: rgb(212, 212, 212) !important;
}


.pricing-items div div {
    transition: background 0.5s;
}

.pricing-items div:hover .rounded {
    background-color: #1f1d1d;
}

.social-icons ul li:first-child:hover a {
    color: rgb(52, 123, 255) !important;

}

.social-icons ul li:nth-child(2):hover a {
    color: rgb(163, 163, 163) !important;
}

.social-icons ul li:last-child:hover a {
    color: rgb(52, 255, 113) !important;
}


#resumebtn1 {
    transition: all 1s;
}

#resumebtn2 {
    transition: all 1s;
    opacity: 0;
}

@media (max-width: 520px) {
    #resumebtn1 {
        opacity: 0;
        /* display: none; */
        width: 0px;
    }

    #resumebtn2 {
        opacity: 1;
    }
}
@media (min-width: 990px) {
    #mobileMenus{
        display: none !important;
    }
}

#mobileMenus {
    z-index: 9;
    background: #262626;
    top: 11% !important;
    position: fixed;
    color: white;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    left: -40%;
    transition: all 0.7s;
}

#mobileMenus ul li {
    transition: background 0.5s;
}

#mobileMenus ul li:hover {
    background: #242a30;

}
